:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 1280px;
  margin: 63px auto 30px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header_logo {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #884499;
  border-radius: 25px;
}

.header_logo-name {
  text-decoration: none;
  color: #4bcaff;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.header_logo-name-paint {
  color: #000000;
}

.header_button {
  font-size: 24px;
  border: 1px solid #ffffff;
  background: #e1d0e6;
  color: #ffffff;
  height: 65px;
  border-radius: 25px;
  background-color: inherit;
}

.header_button:hover {
    background-color: #e1d0e6;
  border: 1px solid #050505;
  color: #000000;
}

.nav__header-menu {
  display: flex;
  justify-content: center;
  background-color: #884499;
  margin-top: 38px;
  align-items: center;
  height: 70px;
  border-radius: 25px;
}

.nav__header-menu-list-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  height: 55px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 15px 35px 0px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #884499;
}

.nav__header-menu-list-link:hover {
  background-color: #e1d0e6;
  border: 1px solid #050505;
  color: #000000;
}

.container__asidemain-wraper {
  display: flex;
  margin-top: 50px;
  background-color: #e0d5e2;
  border-radius: 25px;
}

.aside {
  margin-right: 50px;
}

.aside__menu {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  border-radius: 25px;
  width: 344px;
}

.aside__menu-list-link {
  display: block;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  padding: 26px 80px 26px 44px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #884499;
}

.aside__menu-list-link:hover {
    background-color: #e1d0e6;
    border: 1px solid #050505;
    color: #000000;
  text-align: center;
}

.main__picture {
  border: 1px solid #000000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__picture-image {
  width: 320 px;
  margin: 75px 0px;
  transition: transform 1s;
}

.main__picture-image:hover {
  transform: scale(1.2);
}

.main__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#884499;
  margin-top: 54px;
  border-radius: 25px;
}

.nav__footer-menu {
  display: flex;
  justify-content: space-between;
}

.nav__footer-menu-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  height: 53px;
  text-align: center;
  margin-left: 40px;
  /* border-bottom: 1px solid #3181a600; */
  border: 1px solid #fefefe;
  border-radius: 25px;
  padding: 5px;
}

.nav__footer-menu-list-link:hover {
  border-color: #000000;
  color: #0b0b0b;
  background-color: #e1d0e6;
}

.footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 69px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 40px;
}
