:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 1280px;
  margin: 63px auto 30px;
  
}

.header {
  display: flex;
  flex-direction: column;
}

.header_logo {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.header_logo-name {
  text-decoration: none;
  color: #4bcaff;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.header_logo-name-paint {
  color: #000000;
}

.header_button{
  font-size: 24px;
border: none;
background: rgba(99, 105, 110, 0.48);
color: #010101;
padding: 1rem;
}

.nav__header-menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
  margin-top: 38px;
  align-items: center;
  height: 70px;
}

.nav__header-menu-list-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  height: 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 25px 35px 0px;
  border: 1px solid #ffffff;
}

.nav__header-menu-list-link:hover {
  background-color: #222f3a;
}

.container__asidemain-wraper {
  display: flex;
  margin-top: 50px;
}

.aside {
  margin-right: 50px;
}

.aside__menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  width: 344px;
}

.aside__menu-list-link {
  display: block;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
  padding: 26px 80px 26px 44px;
}

.aside__menu-list-link:hover {
  background-color: #dbdbdb;
  text-align: center;
}

.main__picture {
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__picture-image {
  width: 320 px;
  margin: 75px 0px;
  transition: transform 1s;
}

.main__picture-image:hover {
  transform: scale(1.2);
}

.main__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}

.nav__footer-menu {
  display: flex;
  justify-content: space-between;
}

.nav__footer-menu-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0c1927;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  height: 53px;
  text-align: center;
  margin-left: 40px;
  border-bottom: 1px solid #3181a600;
}

.nav__footer-menu-list-link:hover {
  border-color: #3181a6;
  color: #3181a6;
}

.footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 69px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}
